<component name="ArtifactManager">
  <artifact type="war" name="springcloud-eureka-serviceconsume:war">
    <output-path>$PROJECT_DIR$/springcloud-eureka-serviceconsume/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springcloud-eureka-serviceconsume</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springcloud-eureka-serviceconsume-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springcloud-eureka-serviceconsume:war exploded" />
    </root>
  </artifact>
</component>